* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  z-index: 10;
  width: 100%;
  background: #101010;
  position: fixed;
}

header .header__wrapper {
  width: 96%;
  margin: 0px auto;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__wrapper ul li {
  margin: 0px 20px;
}

header .header__wrapper ul li a {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
}

header .header__wrapper ul li a:hover {
  color: #e6b806;
}

header .header__wrapper ul li b {
  font-size: 1.5rem;
  color: white;
}

.header__logo a.header__logo--wrapper span {
  font-size: 2rem;
}

.header__logo a.header__logo--wrapper span:nth-child(1) {
  color: red;
}

.header__logo a.header__logo--wrapper span:nth-child(2) {
  color: #e6b800;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search form {
  color: white;
}

.header__search form input {
  color: white;
  background: none;
  width: 0px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__search form input:focus {
  outline: none;
  width: 300px;
}

.header__search form i {
  font-size: 1.5rem;
}

.header__search form i:hover {
  cursor: pointer;
}

.carousel {
  z-index: 0;
  width: 100%;
}

.carousel .carowsel__wrapper {
  position: relative;
}

.carousel .carowsel__wrapper .owl-prev {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .carowsel__wrapper .owl-prev span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 4rem;
  color: white;
}

.carousel .carowsel__wrapper .owl-prev:focus {
  outline: none;
}

.carousel .carowsel__wrapper .owl-next {
  z-index: 5;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .carowsel__wrapper .owl-next span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 4rem;
  color: white;
}

.carousel .carowsel__wrapper .owl-next:focus {
  outline: none;
}

.booking {
  background: #101010;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #101010), color-stop(95%, rgba(255, 255, 255, 0)), to(#101010));
  background: linear-gradient(180deg, #101010 90%, rgba(255, 255, 255, 0) 95%, #101010 100%);
  padding-bottom: 5%;
}

.booking__title {
  text-align: center;
  font-size: 3rem;
  color: #e6b800;
  padding: 5px 0px;
}

.booking .booking__wrapper {
  width: 92%;
  margin: 0px auto;
}

.stepper {
  width: 75%;
  margin: 5px auto;
}

.stepper .stepper__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stepper .stepper__wrapper .stepper__item .stepper__circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e6b800;
  text-align: center;
  line-height: 30px;
}

.stepper .stepper__wrapper .stepper__item .stepper__circle span {
  font-size: 2rem;
  color: white;
}

.stepper .stepper__wrapper .stepper__item .stepper__info {
  color: white;
  font-size: 2rem;
}

.stepper__line {
  width: 45%;
  height: 2px;
  margin-top: 15px;
  background-color: white;
}

.film {
  background-color: #101010;
}

.film__wrapper {
  width: 92%;
  margin: 0px auto;
  padding: 25px 0px;
}

.film__wrapper .film__controlPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film__controlPanel .film__types .types--item {
  padding: 5px;
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  margin-right: 25px;
}

.film__controlPanel .film__types .types--item:hover {
  cursor: pointer;
  color: #e5ba3d;
}

.film__controlPanel .film__types .types--active {
  color: #e5ba3d;
  border-bottom: 2px solid #e5ba3d;
}

.film__controlPanel .film__filter .filter--btn {
  padding: 5px;
  font-size: 2rem;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 25px;
}

.film__controlPanel .film__filter .filter--btn:hover {
  cursor: pointer;
  color: #e5ba3d;
}

.film__list {
  padding: 30px 0px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (24%)[4];
      grid-template-columns: repeat(4, 24%);
}

.film__item {
  position: relative;
}

.film__item img {
  width: 100%;
  height: 100%;
  display: block;
}

.film__item .film__info {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}

.film__item .film__info .film__info--wrapper {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film__item .film__info .film__info--wrapper .film__detail {
  color: white;
}

.film__item .film__info .film__info--wrapper .film__detail h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.film__item .film__info .film__info--wrapper .film__detail p {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.film__item .film__info .film__info--wrapper .film__detail a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
  background-color: #e5ba3d;
  border-radius: 10px;
}

.film__item .film__info .film__info--wrapper .film__detail a:hover {
  color: white;
}

.film__item .film__social {
  padding-top: 10px;
}

.film__item .film__social div {
  margin: 20px 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
}

.film__item .film__social div i {
  line-height: 40px;
  font-size: 1.8rem;
  color: white;
}

.film__item .film__social div:hover {
  background-color: white;
}

.film__item .film__social div:hover i {
  color: #e5ba3d;
}

.film__item:hover {
  cursor: pointer;
}

.film__item:hover img {
  opacity: 0.5;
}

.film__item:hover .film__info {
  display: block;
}

footer {
  background-color: black;
  padding: 20px;
}

footer .footer__wrapper .footer__info {
  padding-bottom: 20px;
}

footer .footer__wrapper .footer__info p {
  text-align: center;
  font-size: 2rem;
  color: white;
}

footer .footer__wrapper .footer__info p a {
  color: #6d6d6d;
  padding: 0px 10px;
  border-right: 1px solid #6d6d6d;
}

footer .footer__wrapper .footer__info p a:hover {
  color: #e5ba3d;
}

footer .footer__wrapper .footer__info p .footer__info--noBorder {
  border: none;
}

footer .footer__wrapper .footer__social {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
  margin: 0px auto;
}

footer .footer__wrapper .footer__social .footer__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #141414;
  text-align: center;
}

footer .footer__wrapper .footer__social .footer__circle i {
  line-height: 40px;
  font-size: 1.8rem;
  color: white;
}

footer .footer__wrapper .footer__social .footer__circle:hover {
  background-color: white;
}

footer .footer__wrapper .footer__social .footer__circle:hover i {
  color: #e5ba3d;
}

footer .footer__wrapper p {
  font-size: 1.5rem;
  color: #6d6d6d;
  text-align: center;
}

.banner .banner__wrapper {
  position: relative;
}

.banner .banner__wrapper .banner__avatar {
  position: absolute;
  left: 2%;
  top: 40%;
}

.banner .banner__wrapper .banner__avatar img {
  width: 75%;
}

.banner__info {
  position: relative;
}

.banner__info img {
  max-width: 100%;
}

.banner__info .banner__detail {
  position: absolute;
  bottom: 0px;
  left: 30%;
}

.banner__summary {
  background-color: #1d1e22;
}

.banner__summary .banner__summary--wrapper {
  width: 60%;
  margin: 0px auto;
  padding: 40px 0px;
  color: white;
}

.date {
  background-color: #141414;
  padding: 30px 0px;
}

.date .date__wrapper {
  width: 90%;
  margin: 0px auto;
}

.date .date__wrapper h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}

.date__control {
  margin-bottom: 20px;
}

.date__control button {
  padding: 15px;
  margin-right: 15px;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.8rem;
}

.date__control button:focus {
  outline: none;
}

.date__control button:hover {
  color: black;
  background-color: #e5ba3d;
}

.date__control .btn--active {
  border: none;
  color: black;
  background-color: #e5ba3d;
}

.date__list .date__list--wrapper .date__item {
  background: black;
  padding: 20px;
  margin-bottom: 10px;
}

.date__list .date__list--wrapper .date__item h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

.date__list .date__list--wrapper .date__item .time__list button {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 15px;
  background: none;
  border: 1px solid #e5ba3d;
  color: #e5ba3d;
}

.date__list .date__list--wrapper .date__item .time__list button:hover {
  cursor: pointer;
  background-color: #e5ba3d;
  color: black;
}

.movie {
  background-color: #1d1e22;
  padding: 35px;
}

.movie .movie__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie .movie__wrapper .movie__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
}

.movie .movie__wrapper .movie__img img {
  width: 100%;
  height: 100%;
}

.bookSeat {
  background-color: #141414;
  padding: 30px;
}

.bookSeat .bookSeat__wrapper h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.bookSeat__guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 30px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bookSeat__guide .bookSeat__guide--item div span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #e5ba3d;
  border-radius: 5px;
}

.bookSeat__guide .bookSeat__guide--item div p {
  color: white;
  font-size: 1.5rem;
}

.bookSeat__guide .bookSeat__guide--item .bookSeat__selected span {
  background-color: #e5ba3d;
  opacity: 0.5;
}

.bookSeat__guide .bookSeat__guide--item .bookSeat__yourSeat span {
  background-color: #e5ba3d;
}
/*# sourceMappingURL=index.css.map */