* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  z-index: 1;
  width: 100%;
  background: #101010;
}

header .header__wrapper {
  width: 96%;
  margin: 0px auto;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__wrapper ul li {
  margin: 0px 20px;
}

header .header__wrapper ul li a {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
}

header .header__wrapper ul li a:hover {
  color: #e6b806;
}

header .header__wrapper ul li b {
  font-size: 1.5rem;
  color: white;
}

.header__logo a.header__logo--wrapper span {
  font-size: 2rem;
}

.header__logo a.header__logo--wrapper span:nth-child(1) {
  color: red;
}

.header__logo a.header__logo--wrapper span:nth-child(2) {
  color: #e6b800;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search form {
  color: white;
}

.header__search form input {
  color: white;
  background: none;
  width: 0px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__search form input:focus {
  outline: none;
  width: 300px;
}

.header__search form i {
  font-size: 1.5rem;
}

.header__search form i:hover {
  cursor: pointer;
}

.carousel {
  z-index: 0;
  width: 100%;
}

.carousel .carowsel__wrapper {
  position: relative;
}

.carousel .carowsel__wrapper .owl-prev {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .carowsel__wrapper .owl-prev span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 4rem;
  color: white;
}

.carousel .carowsel__wrapper .owl-prev:focus {
  outline: none;
}

.carousel .carowsel__wrapper .owl-next {
  z-index: 5;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .carowsel__wrapper .owl-next span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 4rem;
  color: white;
}

.carousel .carowsel__wrapper .owl-next:focus {
  outline: none;
}

.booking {
  background-color: #101010;
}

.booking__title {
  text-align: center;
  font-size: 3rem;
  color: #e6b800;
  padding: 5px 0px;
}

.booking .booking__wrapper {
  width: 92%;
  margin: 0px auto;
}

.stepper {
  width: 75%;
  margin: 5px auto;
}

.stepper .stepper__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stepper .stepper__wrapper .stepper__item .stepper__circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e6b800;
  text-align: center;
  line-height: 30px;
}

.stepper .stepper__wrapper .stepper__item .stepper__circle span {
  font-size: 2rem;
  color: white;
}

.stepper .stepper__wrapper .stepper__item .stepper__info {
  color: white;
  font-size: 2rem;
}

.stepper__line {
  width: 45%;
  height: 2px;
  margin-top: 15px;
  background-color: white;
}
/*# sourceMappingURL=index.css.map */