.date__control {
  margin-bottom: 20px;
  button {
    padding: 15px;
    margin-right: 15px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.8rem;
    &:focus {
      outline: none;
    }
    &:hover {
      color: black;
      background-color: #e5ba3d;
    }
  }
  .btn--active {
    border: none;
    color: black;
    background-color: #e5ba3d;
  }
}
