.film__controlPanel {
  .film__types {
    .types--item {
      padding: 5px;
      font-size: 2rem;
      background: none;
      color: white;
      border: none;
      margin-right: 25px;
      &:hover {
        cursor: pointer;
        color: #e5ba3d;
      }
    }
    .types--active {
      color: #e5ba3d;
      border-bottom: 2px solid #e5ba3d;
    }
  }
  .film__filter {
    .filter--btn {
      padding: 5px;
      font-size: 2rem;
      background: none;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      margin-right: 25px;
      &:hover {
        cursor: pointer;
        color: #e5ba3d;
      }
    }
  }
}
