header {
  z-index: 10;
  width: 100%;
  background: #101010;
  position: fixed;
  .header__wrapper {
    width: 96%;
    margin: 0px auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin: 0px 20px;
        a {
          color: white;
          font-size: 1.5rem;
          line-height: 2rem;
          &:hover {
            color: #e6b806;
          }
        }
        b {
          font-size: 1.5rem;
          color: white;
        }
      }
    }
  }
}

@import "../Components/header/logo";
@import "../Components/header/search";
