.booking {
  background: rgb(16, 16, 16);
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 1) 90%,
    rgba(255, 255, 255, 0) 95%,
    rgba(16, 16, 16, 1) 100%
  );
  padding-bottom: 5%;
  &__title {
    text-align: center;
    font-size: 3rem;
    color: #e6b800;
    padding: 5px 0px;
  }
  .booking__wrapper {
    width: 92%;
    margin: 0px auto;
  }
}

@import "../../Components/booking/stepper";
@import "../../Components/booking/line";
